.search-container {
    .form-control, .form-control:focus, .input-group-text {
        border: 1px solid #ced4da;
    }
}

.o_menu_apps {
    .dropdown-menu {
        padding-top: 50px;
	    background: url(/web/static/src/img/form_sheetbg.png);

        .o_app {
            margin-bottom: 20px;
            padding: 10px;

            .o-app-name {
                margin-top: 1em;
                font-weight: bold;
            }

            &:hover, .active {
                background-color: rgba(238, 238, 238, 0.5);
            }
        }
    }
}

// Sidechatter like EE
$o-chatter-width: 510px;
@media screen and (min-width: 1600px) {
    .o_form_sheet_bg {
        width: calc(100% - 510px);
        float: left;
        height: 100vh;
        overflow: auto;
    }
    .o_form_view .o_form_sheet_bg .o_form_sheet {
        max-width: 97%;
    }
    .o_form_view .o_form_sheet_bg {
        border-bottom: none;
    }

    .oe_chatter {
        width: $o-chatter-width;
        max-width: $o-chatter-width !important;
        min-width: $o-chatter-width !important;
        background-color: #ffffff;
        float:right;
        border-left: 1px solid #c8c8d3;
        overflow: auto;
        padding: 0 !important;
        height: 100vh !important;
    }

    .o_chatter {
        height: 100vh;
    }

    .o_chatter_topbar {
        margin: 0 !important;
    }

    .o_thread_date.btn {
        color: inherit;
    }

    // Fix Modal Dialog size = Scheduled Action button
    .modal .modal-dialog .o_form_view .o_form_sheet_bg, .modal .modal-dialog .o_form_view .o_form_sheet {
        width: 100%;
        height: 100%;
    }
}
